@import '../../scss/_var';

.page-container {
	position: relative;
	height: 100%;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

.inner-container {
	position: relative;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background: rgba($primary-dark-3, $alpha: 0.75);

	@media (min-width: 769px) {
		& {
			width: 769px;
			border: 1px solid #ddd;
			border-width: 0 1px;
		}
	}
}

.page-title {
	margin: 0em 0;
	padding: 0.5em 0;
	border-bottom: 1px solid #ddd;
	text-align: center;
	background: rgba($primary-dark-3, $alpha: 0.9);
}

.status {
	position: absolute;
	top: 5.5em;
	right: 0.5em;
	width: 44px;
	height: 44px;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.status-loading {
	border: 5px solid #0b0;
	border-right-color: transparent;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

.status-error::before {
	content: '×';
	width: 100%;
	height: 100%;
	font-size: 4em;
	line-height: 0.5em;
	color: #d00;
}
