@import '../../scss/_var';

.container {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: $primary-color;
}

.main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	overflow: auto;
	background: $primary-color;
	font-size: 18px;
	line-height: 1.5em;
}
