@use 'sass:math';
@import '../../scss/_var';

.main-block {
	min-height: 75%;
	overflow-y: auto;
}
.options-block {
	min-height: 25%;
	border-top: 1px solid #ddd;
	overflow: hidden;
	background: rgba($primary-dark-3, $alpha: 0.75);
}

.main-section {
	margin: 20px 10px;

	&:last-child {
		margin-bottom: 0;
	}
}

.station-select {
	max-width: calc(100% - 10px);
	width: 20em;
	margin: 0 5px;
	padding: 0.75em 0.9em;
	border: none;
	border-bottom: 1px solid #ddd;
	background: none;
	color: #fff;
	cursor: pointer;

	&:disabled {
		color: #888;
	}

	&:focus {
		outline: none;
		background: linear-gradient(rgba($primary-dark-3, $alpha: 0.75), rgba($primary-dark-3, $alpha: 0.75)), $primary-color;
	}
}

.station-option {
	margin: 0;
	background: $primary-color;
}

.section {
	&-caption {
		color: darken($color: #fff, $amount: 25);
	}

	&-content {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		flex-wrap: wrap;
		margin: 0 5px;
		font-size: 20px;
	}

	&-name {
		margin: 5px 0;
	}

	&-extra {
		margin-left: 5px;
		font-size: 16px;

		&-icon {
			font-size: 12px;
		}
	}
}

@keyframes rainbow {
	$n: 10;
	@for $i from 0 through $n {
		#{math.div($i, $n) * 100%} {
			color: hsl(math.div($i * 360, $n), 100%, 50%);
		}
	}
}
.name-highlight {
	animation: rainbow 10s linear infinite;
}
