@import '../../scss/_var';

.profile {
	position: absolute;
	right: 0;
	top: 50px;
	width: 500px;
	max-width: calc(100% - 1em);
	margin: 0.5em;
	padding: 1.5em;
	border: 3px solid #000;
	border-radius: 0.5em;
	background: $primary-dark-1;
	box-shadow: 0 0 1em 0 #000;

	&-name {
		margin: 0 auto 1em;
		font-size: 1.5em;
		font-weight: 600;
		color: #bbb;
		word-break: break-all;
		text-align: center;
	}

	&-btn {
		width: calc(50% - 0.25em);
		padding: 0.5em 0;
		border: 1px solid #888;
		border-radius: 0.25em;

		&.full {
			width: 100%;
		}

		&-row {
			display: flex;
			justify-content: space-between;
		}
	}

	&-name-input[type] {
		width: 100%;
		margin-bottom: 1em;
	}

	&-link {
		display: block;
		margin-top: 0.5em;
		color: #999;
		text-decoration: underline;
		text-align: center;
	}
}
