@import '../../scss/_var';

.nav {
	min-height: 50px;
	max-height: 50px;
	background: $primary-dark-1;

	@mixin full-height-align-center {
		display: flex;
		align-items: center;
		height: 100%;
	}

	&-ul {
		@include full-height-align-center;
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&-li {
		@include full-height-align-center;
	}

	& a {
		@include full-height-align-center;
		color: #bbb;
		background: $primary-dark-1;
		padding: 0 10px;
		text-decoration: none;
	}

	&-li-primary a {
		padding: 0 25px 0 15px;
		background: $primary-dark-2;
		color: #fff;
		font-size: 19px;
		font-weight: 600;
	}

	& a:hover,
	& a:focus {
		text-decoration: none;
		outline: none;
		color: darken($color: #bbb, $amount: 20);
	}
	& a:active {
		color: darken($color: #bbb, $amount: 30);
	}

	&-li-primary a:hover,
	&-li-primary a:focus {
		color: darken($color: #fff, $amount: 20);
	}
	&-li-primary a:active {
		color: darken($color: #fff, $amount: 30);
	}
}
