@import '../../scss/_var';

.nav {
	display: flex;
	min-height: 50px;
	max-height: 50px;
	background: $primary-dark-1;

	@mixin full-height-align-center {
		display: flex;
		align-items: center;
		height: 100%;
	}

	&-ul {
		@include full-height-align-center;
		flex-grow: 1;
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&-button {
		padding: 0 20px;
		border-left: 1px solid #808080;
		font-size: 1rem;
	}

	&-li {
		@include full-height-align-center;
	}

	&-link {
		@include full-height-align-center;
		color: #bbb;
		background: $primary-dark-1;
		padding: 0 20px;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: none;
			outline: none;
			color: darken($color: #bbb, $amount: 20);
		}
		&:active {
			color: darken($color: #bbb, $amount: 30);
		}

		&-primary {
			padding: 0 30px 0 20px;
			background: $primary-dark-2;
			color: #fff;
			font-size: 19px;
			font-weight: 600;

			&:hover,
			&:focus {
				color: darken($color: #fff, $amount: 20);
			}
			&:active {
				color: darken($color: #fff, $amount: 30);
			}
		}
	}
}
