@import '../../../scss/_var';

.bg {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	z-index: -9;
	overflow: hidden;

	&-text {
		position: fixed;
		transform: translate(-50%, -50%);
		white-space: nowrap;
		font-family: Georgia;
	}

	&-text[data-wide-screen-only] {
		display: none;

		@media (min-width: 769px) {
			display: block;
		}
	}
}
