@use 'sass:math';
@import '../../scss/_var';

@mixin full-height-align-center {
	display: flex;
	align-items: center;
	height: 100%;
}

.hidden {
	display: none !important;
}

.page-section:not(.hidden) {
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

/* TabNav */

.nav {
	min-height: 50px;
	max-height: 50px;
	border-bottom: 1px solid #ddd;

	&-ul {
		@include full-height-align-center;
		justify-content: space-evenly;
		padding: 0;
		margin: 0;
		list-style: none;
		cursor: pointer;
	}

	&-block {
		@include full-height-align-center;
		width: 100%;
		background: rgba($primary-dark-3, $alpha: 0.5);

		&:not(:first-of-type) {
			border-left: 1px solid #ddd;
		}
	}

	&-li {
		width: 100%;
		height: 100%;

		&:not(.nav-radio:checked + &):hover,
		.nav-radio:not(:checked):focus + & {
			background: $primary-dark-1;
		}

		.nav-radio:checked + & {
			background: $primary-dark-2;
		}
	}

	&-label {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		text-align: center;
		cursor: pointer;
	}
}

/* SongControls */

.song-controls {
	display: flex;
	align-items: center;

	width: 100%;
	min-height: 75px;
	max-height: 75px;
	margin-bottom: -75px;
	padding: 0 10px;
	border-top: 1px solid #ddd;
	background: $primary-dark-1;
	overflow: hidden;
	transition: margin-bottom 1s ease-in-out;

	&.shown {
		margin-bottom: 0;
	}
}

.song-play-control {
	@include full-height-align-center;
}
.rounded-button {
	width: 50px;
	height: 50px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.song-timeline,
.song-volume,
.song-speed {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	margin: 0 0.5em;
	padding-bottom: 5px;
	overflow: hidden;

	&-caption {
		overflow: hidden;
		line-height: 2;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&-slider[type='range'] {
		width: calc(100% - 2px);
		margin: 0 auto;
	}
}

.song-timeline {
	width: 100%;
	--bg-break: 0%;

	@mixin slider-track {
		height: 1.5em;
		border-radius: 0;
		background: linear-gradient(
			90deg,
			$primary-dark-2,
			$primary-dark-2 var(--bg-break),
			$primary-dark-1 var(--bg-break),
			$primary-dark-1
		);
	}
	@mixin slider-thumb {
		width: 0.25em;
		height: 1.5em;
		border: 2px solid #666;
		border-radius: 0;
		box-shadow: none;
		background: $primary-dark-2;
	}
	@mixin slider-thumb-focus {
		box-shadow: none;
		background: #222;
	}
	@mixin slider-thumb-active {
		box-shadow: none;
		background: #444;
	}

	&-slider[type='range'] {
		&::-webkit-slider-runnable-track {
			@include slider-track;
		}
		&::-webkit-slider-thumb {
			@include slider-thumb;
		}

		&::-moz-range-track {
			@include slider-track;
		}
		&::-moz-range-thumb {
			@include slider-thumb;
		}

		&::-ms-fill-lower {
			@include slider-track;
		}
		&::-ms-fill-upper {
			@include slider-track;
		}
		&::-ms-thumb {
			@include slider-thumb;
		}

		&:hover::-moz-range-thumb,
		&:focus::-moz-range-thumb {
			@include slider-thumb-focus;
		}
		&:hover::-webkit-slider-thumb,
		&:focus::-webkit-slider-thumb {
			@include slider-thumb-focus;
		}
		&:hover::-ms-thumb,
		&:focus::-ms-thumb {
			@include slider-thumb-focus;
		}

		&:active::-moz-range-thumb {
			@include slider-thumb-active;
		}
		&:active::-webkit-slider-thumb {
			@include slider-thumb-active;
		}
		&:active::-ms-thumb {
			@include slider-thumb-active;
		}
	}
}

.song-volume,
.song-speed {
	min-width: 6.5em;
}

.song-time {
	min-width: 40px;
	text-align: center;
	font-size: 1.125em;
	line-height: 1.375em;
	font-weight: 600;
}

.song-options {
	@include full-height-align-center;
	justify-content: center;

	&-inner {
		display: flex;
		padding: 0;
		align-items: center;
		justify-content: center;
		font-size: 1.5em;
	}

	&-label {
		@include full-height-align-center;
		justify-content: center;
		width: 100%;
		cursor: pointer;
	}

	&-list {
		position: absolute;
		right: 10px;
		bottom: 85px;
		padding: 0.5em 0;
		margin: 0;
		list-style: none;
		border: 1px solid #fff;
		border-radius: 0.5em;
		background: $primary-dark-1;
		box-shadow: 0 0 5em #000;
	}

	&-item {
		width: 100%;
		height: 100%;
		cursor: pointer;

		&-caption {
			margin-right: 0.5em;
		}

		&-inner {
			width: 100%;
			height: 100%;
			padding: 0 0.5em;
			justify-content: start;
			text-align: left;

			&-label {
				display: flex;
				justify-content: space-between;
				width: 100%;
				height: 100%;
				text-align: left;
				cursor: pointer;
			}
		}
	}

	&-item-checkbox:not(:checked) + &-checkmark {
		opacity: 0;
	}
}

/* SongContainer */

.song-container-body {
	flex-grow: 1;
	overflow-y: scroll;
}

.song-container-footer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 2em;
	border-top: 1px solid #ddd;
	background: rgba($primary-dark-3, $alpha: 0.25);

	&-body {
		margin: 0 0.5em;
	}
}

.btn-arrow {
	height: 100%;

	&-floating {
		position: absolute;
		left: 0;
		top: 0;
	}
}

.song-search {
	display: flex;
	width: 100%;
	min-height: 50px;
	border-bottom: 1px solid #ddd;

	&-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		border-right: 1px solid #ddd;
		font-size: 1.25em;
	}

	&-input[type] {
		flex-grow: 1;
		padding: 0 0.5em;
		border: none;
	}
}

/* Song */

.song-item {
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 50px;
	height: 50px;
	border-bottom: 1px solid #bbb;
	white-space: nowrap;
	overflow: hidden;
}

.song-play-btn {
	min-width: 50px;
	height: 50px;
}

.song-name {
	flex-grow: 1;
	max-height: 100%;
	margin-left: 0.5em;
	white-space: normal;
	line-height: 1em;
}

.song-heart-btn {
	font-size: 1.5em;
}

.song-original {
	margin: 0 0.5em;

	&-icon {
		font-size: 12px;
	}
}

@keyframes flash {
	0% {
		background: #fff;
	}
	100% {
		background: #fff0;
	}
}
.flash {
	animation: flash 1s;
}

/* Filters */

.spaced-fieldset {
	margin: 1em 0.5em;
}
.spaced-input {
	margin-right: 0.25em;
}
.block-label {
	display: block;
	margin: 0.25em;
}

.inline-group {
	display: flex;
	align-items: center;
	margin: 0 0 0 0.25em;
}
.offset-group {
	margin: 0.5em;
}
.stretch[type],
.stretch:not([type]) {
	flex-grow: 1;
	margin-left: 0.5em;
}
.single-stretch[type],
.single-stretch:not([type]) {
	width: calc(100% - 1em);
	margin: 0 0.5em;
}

.italic-option {
	font-style: italic;
}

.btn-done {
	width: 6em;
	margin: 0.5em 0 0 0.5em;
	padding: 0.5em 0;
	border: 1px solid #bbb;
	border-radius: 0.25em;
	background: $primary-dark-1;
	font-size: 1em;
}

/* Overlay */

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0008;

	&-center {
		width: 500px;
		margin: 2em;
		padding: 1em;
		background: $primary-dark-2;
		border: 1px solid #fff;
		border-radius: 0.5em;
	}

	&-input[type] {
		width: 100%;
		margin: 1em 0 2em;
	}

	&-btn {
		margin: 0;
		margin-right: 0.5em;
	}
}
